@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";

.big-shoulders {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 600;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: url('/images/BackGround2.png') center/cover no-repeat;
  background-attachment: fixed; /* Keeps it fixed even on scroll */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #535bf2;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.landing-page {
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
}

.glass-btn {
  background: rgba(120, 120, 120, 0.18);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  border: 1px solid rgba(255,255,255,0.12);
}


/* Comes from right into center */
.enter-animation {
  transform: translateX(-500px);  /* start off-screen to the right */
  opacity: 0;
  animation: enter 1s ease-out forwards;
}
@keyframes enter {
  to {
    transform: translateX(0);   /* move to normal position */
    opacity: 1;
  }
}

/* Comes from left into center */
.enter-left-animation {
  transform: translateX(500px);  /* start off-screen to the left */
  opacity: 0;
  animation: enter-left 1s ease-out forwards;
}
@keyframes enter-left {
  to {
    transform: translateX(0);    /* move to normal position */
    opacity: 1;
  }
}

/* Comes from bottom into center */
.topdown-animation {
  transform: translateY(-500px);  /* start off-screen from the bottom */
  opacity: 0;
  animation: topdown 0.7s ease-out forwards;
}

@keyframes topdown {
  to {
    transform: translateY(0);    /* move to its normal position */
    opacity: 1;
  }
}